/*
 * Site wide CSS Style
 * Author - Fresh Made Media <http://www.freshmademedia.co.uk>
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

select, input, textarea, button { font: 99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

small { font-size: 85%; }

strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

textarea { overflow: auto; }

.lt-ie7 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.lt-ie7 input { vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

::-moz-selection { background: #4BB4D5; color: #444; text-shadow: none; }

::selection { background: #4BB4D5; color: #444; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #4BB4D5; }

button { width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; font-family: Verdana, Geneva, sans-serif; font-size: 12px; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a { text-decoration: none; color: #C3275C; }

a:hover { color: #E0E0E0; text-decoration: underline; }

p { line-height: 160%; margin-bottom: 20px; }

/* For modern browsers */
.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom: 1; }

.hidden { visibility: hidden; display: none; }

/* Default Form Styling Based off Bootstrap Framework
*/
form { margin: 0 0 20px; }

fieldset { padding: 0; margin: 0; border: 0; }

legend { display: block; width: 100%; padding: 0; margin-bottom: 20px; font-size: 21px; line-height: 40px; color: #333333; border: 0; border-bottom: 1px solid #e5e5e5; }

legend small { font-size: 15px; color: #999999; }

input, button, select, textarea { font-family: "europa", Gill Sans, Verdana, verdana, sans-serif; }

label { display: block; margin-bottom: 5px; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; height: 23px; padding: 5px 6px; margin-bottom: 9px; font-size: 13px; line-height: 18px; color: #444; }

input, textarea { width: 200px; }
input.mini, textarea.mini { width: 60px; }
input.small, textarea.small { width: 100px; }
input.large, textarea.large { width: 360px; }

textarea { height: auto; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: #ffffff; border: 1px solid #dedede; -webkit-transition: border linear .2s, box-shadow linear .2s; -moz-transition: border linear .2s, box-shadow linear .2s; -o-transition: border linear .2s, box-shadow linear .2s; transition: border linear .2s, box-shadow linear .2s; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { outline: 0; outline: thin dotted \9; /* IE6-9 */ border: 1px solid #AEAEAE; }

input[type="radio"], input[type="checkbox"] { margin: 4px 0 0; *margin-top: 0; /* IE7 */ margin-top: 1px \9; /* IE8-9 */ line-height: normal; cursor: pointer; }

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }

select, input[type="file"] { height: 30px; /* In IE7, the height of the select element cannot be changed by height, only font-size */ *margin-top: 4px; /* For IE7, add top margin to align select with labels */ line-height: 30px; }

select { width: 220px; border: 1px solid #bbb; background-color: #ffffff; }

select[multiple], select[size] { height: auto; }

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

.uneditable-input, .uneditable-textarea { color: #999999; background-color: #fcfcfc; border-color: #cccccc; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); cursor: not-allowed; }

.uneditable-input { overflow: hidden; white-space: nowrap; }

.uneditable-textarea { width: auto; height: auto; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999999; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999999; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }

.radio, .checkbox { min-height: 18px; padding-left: 18px; }

.radio input[type="radio"], .checkbox input[type="checkbox"] { float: left; margin-left: -18px; }

.controls > .radio:first-child, .controls > .checkbox:first-child { padding-top: 5px; }

.radio.inline, .checkbox.inline { display: inline-block; padding-top: 5px; margin-bottom: 0; vertical-align: middle; }

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline { margin-left: 10px; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { cursor: not-allowed; background-color: #eeeeee; }

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] { background-color: transparent; }

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: #b94a48; border-color: #ee5f5b; }

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus { border-color: #e9322d; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7; box-shadow: 0 0 6px #f8b9b7; }

.form-actions { padding: 19px 20px 20px; margin-top: 20px; margin-bottom: 20px; background-color: #f5f5f5; border-top: 1px solid #e5e5e5; *zoom: 1; }

.form-actions:before, .form-actions:after { display: table; content: ""; line-height: 0; }

.form-actions:after { clear: both; }

.help-block, .help-inline { color: #595959; }

.help-block { display: block; margin-bottom: 10px; }

.help-inline { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; vertical-align: middle; padding-left: 5px; }

.input-append, .input-prepend { margin-bottom: 5px; font-size: 0; white-space: nowrap; }

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input { position: relative; margin-bottom: 0; *margin-left: 0; font-size: 14px; vertical-align: top; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus { z-index: 2; }

.input-append .add-on, .input-prepend .add-on { display: inline-block; width: auto; height: 20px; min-width: 16px; padding: 4px 5px; font-size: 14px; font-weight: normal; line-height: 20px; text-align: center; text-shadow: 0 1px 0 #ffffff; background-color: #eeeeee; border: 1px solid #ccc; }

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn { margin-left: -1px; vertical-align: top; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.input-append .active, .input-prepend .active { background-color: #a9dba9; border-color: #46a546; }

.input-prepend .add-on, .input-prepend .btn { margin-right: -1px; }

.input-prepend .add-on:first-child, .input-prepend .btn:first-child { -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }

.input-append input, .input-append select, .input-append .uneditable-input { -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }

.input-append .add-on:last-child, .input-append .btn:last-child { -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child { margin-right: -1px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }

.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child { margin-left: -1px; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }

input.search-query { padding-right: 14px; padding-right: 4px \9; padding-left: 14px; padding-left: 4px \9; /* IE7-8 doesn't have border-radius, so don't indent the padding */ margin-bottom: 0; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }

/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query, .form-search .input-prepend .search-query { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.form-search .input-append .search-query { -webkit-border-radius: 14px 0 0 14px; -moz-border-radius: 14px 0 0 14px; border-radius: 14px 0 0 14px; }

.form-search .input-append .btn { -webkit-border-radius: 0 14px 14px 0; -moz-border-radius: 0 14px 14px 0; border-radius: 0 14px 14px 0; }

.form-search .input-prepend .search-query { -webkit-border-radius: 0 14px 14px 0; -moz-border-radius: 0 14px 14px 0; border-radius: 0 14px 14px 0; }

.form-search .input-prepend .btn { -webkit-border-radius: 14px 0 0 14px; -moz-border-radius: 14px 0 0 14px; border-radius: 14px 0 0 14px; }

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; margin-bottom: 0; vertical-align: middle; }

.form-search .hide, .form-inline .hide, .form-horizontal .hide { display: none; }

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group { display: inline-block; }

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend { margin-bottom: 0; }

.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox { padding-left: 0; margin-bottom: 0; vertical-align: middle; }

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { float: left; margin-right: 3px; margin-left: 0; }

.control-group { position: relative; }

.control-label { float: left; width: 140px; padding-top: 5px; }
.control-label.wide { width: 330px; }

.btn { border: none; }

.container { width: 800px; height: auto; padding: 0; margin: 0 auto; }
.container .inner { width: 750px; margin: 0 auto; }

html, body { overflow-x: hidden; }

html { font-size: 62.5%; -webkit-text-size-adjust: 100%; }

body { font-size: 11px; font-size: 1.1rem; font-family: Arial, Verdana, sans-serif; color: #1A1A19; background: #E5E1DA; }

h1, h2, h3, h4, h5 { font-family: "europa", Gill Sans, Verdana, verdana, sans-serif; font-weight: 400; }
h1 span, h2 span, h3 span, h4 span, h5 span { color: #c3275c; }

h1 { font-size: 42px; font-size: 4.2rem; font-weight: 400; text-transform: uppercase; }

h2 { font-size: 22px; font-size: 2.2rem; font-weight: 300; }
h2.alt { text-transform: uppercase; }

h3 { font-size: 28px; font-size: 2.8rem; font-weight: 300; }

p { line-height: 140%; }

a { color: #959590; }

header .inner { max-width: 1000px; margin: 0 auto; position: relative; padding: 0 0 130px 0; }
header .inner .image { background: url(../images/butterfly-combine.jpg) no-repeat; width: 460px; height: 270px; position: absolute; left: -140px; }
header .inner .animate-image { width: 460px; height: 270px; position: absolute; left: -140px; }
header .inner .animate-image .bt { background: url(../images/butterfly.jpg) no-repeat right; width: 460px; height: 270px; position: absolute; right: 0; top: 0; }
header .inner .animate-image .lg { background: url(../images/large-green-circle.png) no-repeat right; position: absolute; width: 287px; height: 287px; top: -130px; left: 30px; }
header .inner .animate-image .sg { background: url(../images/small-green-circle.png) no-repeat right; position: absolute; width: 111px; height: 111px; top: 130px; left: 115px; }

/*
header .inner:before{ content: ""; background: url(../images/right-bg-repeat.jpg) repeat-x; display:block; width: 9999px; position: absolute; top: 0; bottom: 0; left: 100%;
}
*/
/*
.bg-repeat{ position: absolute; right: 0; // background: url(../images/right-bg-repeat.jpg) repeat-x; display:block; height: 525px; // width: 9999px; margin: 0 -9999px 0 0; padding: 0 9999px 0 0;
}
*/
.header-content { width: 380px; float: right; text-align: right; margin: 111px 100px 0 0; display: inline; }
.header-content h1 { margin: 24px 0 0 0; }
.header-content .btn-flick { margin: 25px 0 0 0; }

.main { width: 800px; margin: 0 auto; }

.half-col { float: left; width: 360px; margin-left: 27px; }
.half-col.odd { margin-left: 0; }

.intro-content { position: relative; top: 0; }
.intro-content .half-col { margin-top: 20px; width: 360px; margin-left: 27px; }
.intro-content .half-col.odd { margin-left: 0; }

.button { background: #1b1b19; height: 35px; line-height: 35px; position: relative; color: #fff; display: inline-block; text-align: left; padding-right: 10px; }

.btn-flick .flick { background: url(../images/flick.png) no-repeat top left; position: absolute; left: -35px; top: 0; width: 35px; height: 35px; }
.btn-flick h2 { margin-left: 10px; }

a.btn-flick { margin: 0 0 0 35px; width: 340px; }

.divider { background: url(../images/divider.png) no-repeat center; display: block; width: 800px; height: 8px; padding: 30px 0 35px 0; }

.bullet-list { margin: 35px 0 45px 0; padding: 0; }
.bullet-list li { margin: 0 0 10px 0; padding: 0 0 0 18px; list-style: none; background: url(../images/bullet.png) no-repeat center left; size: 12px; size: 1.2rem; }

footer { height: 362px; background: #1B1B19; width: 800px; margin: 0 auto; margin-top: 60px; color: #959590; position: relative; }

.footer-content { position: absolute; bottom: 30px; left: 30px; }
.footer-content img { margin: 0 0 15px 0; }

@media screen and (max-width: 1024px) { body { overflow-x: auto; }
  .intro-content .half-col { margin-top: 0; }
  h3 { margin: 0 0 12px 0; } }
@media screen and (max-width: 1000px) { header .inner { width: 100%; background-size: 100%; min-height: 0 !important; padding: 0 0 10% 0; }
  .bg-repeat { display: none !important; } }
@media screen and (max-width: 930px) { .header-content { margin-right: 10%; margin-top: 10%; width: 50%; }
  .header-content h1 { font-size: 3em; }
  .header-content h2 { font-size: 1.8em; } }
@media screen and (max-width: 850px) { .header-content { margin-right: 15%; margin-top: 10%; width: 40%; }
  .header-content img { width: 90px; }
  .header-content h1 { font-size: 2.5em; }
  .header-content h2 { font-size: 1.6em; }
  .header-content h2.alt { font-size: 1.2em; }
  a.btn-flick { margin: 0 0 0 35px; width: 90%; }
  span.btn-flick { width: 60%; } }
@media screen and (max-width: 768px) { .half-col { width: 100% !important; margin-left: 0; float: none; }
  .intro-content .half-col { margin-left: 0; }
  p, ul { font-size: 120%; }
  header .inner { width: 100%; }
  .divider { width: 100% !important; }
  .footer { width: 100%; }
  .main { margin: 0; padding: 0; width: 100% !important; }
  .container { width: 90% !important; padding: 0; margin: 0 auto; }
  .inner { width: 100% !important; }
  .container .inner { width: 80%; }
  footer { width: 100%; } }
@media screen and (max-width: 680px) { .animate-image { display: none!important; }
  .header-content { margin-right: 10%; margin-top: 10%; width: 60%; }
  .header-content img { width: 90px; }
  .header-content h1 { font-size: 2.2em; }
  .header-content h2 { font-size: 1.3em; }
  .header-content h2.alt { font-size: 1.2em; }
  .container .inner { width: 90%; }
  .intro-content h3 { font-size: 2.2em; }
  h1 { font-size: 3em; }
  h3 { font-size: 2.2em; } }
@media screen and (max-width: 580px) { .header-content { margin: 0 auto; display: block; float: none; margin-top: 10%; text-align: center; position: relative; width: 100%; background-position: 0 100px; }
  .header-content img { margin: 0 auto; width: 90px; }
  .header-content h1 { font-size: 2.4em; }
  .header-content h2 { font-size: 1.4em; }
  .header-content h2.alt { font-size: 1.3em; }
  header .inner { background: none; min-height: 0 !important; }
  .intro-content { top: 0; margin-top: 0; }
  a.btn-flick { margin: 0 0 0 35px; width: 90%; }
  span.btn-flick { width: 50%; position: relative; left: 5%; } }
@media screen and (max-width: 450px) { span.btn-flick { width: 60%; }
  a.btn-flick { margin: 0 0 0 35px; width: 80%; }
  footer { height: 320px; } }
@media screen and (max-width: 390px) { span.btn-flick { width: 60%; }
  h2.alt { font-size: 1.4em; } }
