// ------------------ Variables
$baseFont:10;
$siteWidth: 800;
$headerFont: "europa", Gill Sans, Verdana, verdana, sans-serif;
$mainSpotColor: #C3275C;

// ------------------ FUNCTIONS

// Calculates ems from passed in values (18, 16)
@function em-calc($target, $context: $baseFont) {
    @return ($target / $context) * 1em;
}

@function p-calc($target, $context: $siteWidth) {
  @return ($target / $context) * 100%;
}

@mixin p-calc($target: $siteWidth, $context: $siteWidth) {
  width: floor(($target / $context) * 100%);
 //  width: ($target / $context) * 100%;
}

// ------------------ MIXINS

@mixin fontsize($size:10, $context: $baseFont){
    // Pixel Fallbacks for older browsers
    size:   $size + px;
    // REM units supported by latest browsers
    size:   ($size / $context) + rem;
}

@mixin inline-block(){
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-left: -4px;
  vertical-align: top;
}

@mixin button($padding, $bg, $text-color){
  padding: $padding;
  background: $bg;
  color: $text-color;
}

// Rounded Corners
$default_rounded_amount: 6px;
@mixin rounded($position, $amount: $default_rounded_amount){
  -moz-border-radius-#{$position}: $amount;
  -webkit-border-#{$position}-radius: $amount;
  border-#{$position}-radius: $amount;
}

@mixin rounded_corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin boxShadow($shadow: 1px 0 0 rgba(255,255,255, 0.4)) {
  -moz-box-shadow:$shadow;
  -ms-box-shadow:$shadow;
  -o-box-shadow:$shadow;
  -webkit-box-shadow:$shadow;
  box-shadow:$shadow;
}

@mixin textShadow($h-shadow: 0, $v-shadow: 1px, $blur: 0, $color: rgba(0,0,0.5)) {
  text-shadow: $textShadow;
}