@import "mixins";
@import "base";
@import "forms";

.container {
   width: #{$siteWidth}px;
   height: auto;
   padding: 0;
   margin: 0 auto;

   .inner{
      width: 750px;
      margin: 0 auto;
   }
}

// Type
html, body{
   overflow-x: hidden;
}

html{
   font-size: 62.5%; // Setting base font size to 10px for use with REM units
   -webkit-text-size-adjust: 100%;
}

body{
   font:{
      @include fontsize(11);
      family: Arial, Verdana, sans-serif;
   }
   color: #1A1A19;
   background: #E5E1DA;
}

h1,h2,h3,h4,h5{
   font:{
    family: $headerFont;
    weight: 400;
  }

  span{
   color: #c3275c;
  }
}

h1 {
   font:{
      @include fontsize(42);
      weight: 400;
   }
   text-transform:uppercase;
}

h2{
   font:{
      @include fontsize(22);
      weight: 300;
   }

   &.alt{
      text-transform: uppercase;
   }
}

h3 {
   font:{
      @include fontsize(28);
      weight: 300;
   }
}

p{
   line-height: 140%;
}

a{
   color: #959590;
}

header .inner{
   max-width: 1000px;
   margin: 0 auto;
   // background: url(../images/header-bg.jpg) no-repeat top left;
   // min-height: 534px;
   position: relative;
   padding: 0 0 130px 0;

   .image{
      background: url(../images/butterfly-combine.jpg) no-repeat;
      width: 460px;
      height: 270px;
      position: absolute;
      left: -140px;
   }

   .animate-image{
      width: 460px;
      height: 270px;
      position: absolute;
      left: -140px;
      // display: none;

      .bt{
         background: url(../images/butterfly.jpg) no-repeat right;
         width: 460px;
         height: 270px;
         position: absolute;
         right: 0;
         top: 0;
      }

      .lg{
         background: url(../images/large-green-circle.png) no-repeat right;
         position: absolute;
         width: 287px;
         height: 287px;
         // top: -300px;
         // left: -90px;
         top: -130px;
         left: 30px;
      }

      .sg{
         background: url(../images/small-green-circle.png) no-repeat right;
         position: absolute;
         width: 111px;
         height: 111px;
         // top: -120px;
         // left: 0px;
         top: 130px;
         left: 115px;
      }
   }
}

/*
header .inner:before{
   content: "";
   background: url(../images/right-bg-repeat.jpg) repeat-x;
   display:block;
   width: 9999px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 100%;
}
*/

/*
.bg-repeat{
   position: absolute;
   right: 0;
   // background: url(../images/right-bg-repeat.jpg) repeat-x;
   display:block;
   height: 525px;
   // width: 9999px;
   margin: 0 -9999px 0 0;
   padding: 0 9999px 0 0;
}
*/

.header-content{
   width: 380px;
   float: right;
   text-align: right;
   margin: 111px 100px 0 0;
   display: inline;

   h1{
      margin: 24px 0 0 0;
   }

   h2{

   }

   .btn-flick{
      margin: 25px 0 0 0;
   }
}

.main{
   width: 800px;
   margin: 0 auto;
}

.half-col{
   // width: 375px;
   float: left;
   width: 360px;
   margin-left: 27px;
   // margin: 0;

   &.odd{
      margin-left: 0;
   }
}

.intro-content{
   position: relative;
   top: 0;

   .half-col{
      margin-top: 20px;
      width: 360px;
      margin-left: 27px;

      &.odd{
         margin-left: 0;
      }
   }
}

.button{
   background: #1b1b19;
   height: 35px;
   line-height: 35px;
   position: relative;
   color: #fff;
   display:inline-block;
   text-align: left;
   padding-right: 10px;
}

.btn-flick{

   .flick{
      background: url(../images/flick.png) no-repeat top left;
      position: absolute;
      left: -35px;
      top: 0;
      width: 35px;
      height: 35px;
   }

   h2{
      margin-left: 10px;
   }
}

a.btn-flick{
      margin: 0 0 0 35px;
      width: 340px;
}

.divider{
   background: url(../images/divider.png) no-repeat center;
   display: block;
   width: 800px;
   height: 8px;
   padding: 30px 0 35px 0;
}

.bullet-list{
   margin: 35px 0 45px 0;
   padding: 0;

   li{
      margin: 0 0 10px 0;
      padding: 0 0 0 18px;
      list-style: none;
      background: url(../images/bullet.png) no-repeat center left;
      @include fontsize(12);
   }
}

footer{
   height: 362px;
   background: #1B1B19;
   width: 800px;
   margin: 0 auto;
   margin-top: 60px;
   color: #959590;
   position: relative;
}

.footer-content{
   position: absolute;
   bottom: 30px;
   left: 30px;
   img{
      margin: 0 0 15px 0;
   }
}
@media screen and (max-width: 1024px){
  body{
      overflow-x: auto;
   }

  .intro-content .half-col{
    margin-top: 0;
  }

  h3{
    margin: 0 0 12px 0;
  }
}

@media screen and (max-width: 1000px){
  header .inner{
      width: 100%;
      background-size: 100%;
      min-height: 0 !important;
      padding: 0 0 10% 0;
     }

     .bg-repeat{
      display: none !important;
   }

}
@media screen and (max-width: 930px){
  .header-content{
   margin-right: 10%;
   margin-top: 10%;
   width: 50%;

   h1{
      font-size: 3em;
   }

   h2{
      font-size: 1.8em;
   }

  }
}

@media screen and (max-width: 850px){

  .header-content{
   margin-right: 15%;
   margin-top: 10%;
   width: 40%;

   img{
    width: 90px;
   }

   h1{
      font-size: 2.5em;
   }

   h2{
      font-size: 1.6em;

      &.alt{
        font-size: 1.2em;
      }
   }

  }

  a.btn-flick{
    margin: 0 0 0 35px;
    width: 90%;
  }

  span.btn-flick{
    width: 60%;
  }

}

@media screen and (max-width: 768px){

  .half-col{
   width: 100% !important;
   margin-left: 0;
   float: none;

   .intro-content &{
      margin-left: 0;
   }
  }

  p, ul{
    font-size: 120%;
  }

  header .inner{
   width: 100%;
  }

  .divider{
   width: 100% !important;
  }

  .footer{
   width: 100%;
  }

  .main{
   margin: 0;
   padding: 0;
   width: 100% !important;
  }

  .container{
   width: 90% !important;
   padding: 0;
   margin: 0 auto;
  }

  .inner{
   width: 100% !important;
  }

  .container .inner{
   width: 80%;
  }

  footer{
   width: 100%;
  }

  .container{
    // margin-top:;
  }

}

@media screen and (max-width: 680px){

  .animate-image {
   display: none!important;
  }

  .header-content{
   margin-right: 10%;
   margin-top: 10%;
   width: 60%;

   img{
    width: 90px;
   }

   h1{
      font-size: 2.2em;
   }

   h2{
      font-size: 1.3em;

      &.alt{
        font-size: 1.2em;
      }
   }

  }

  .container .inner{
    width: 90%;
  }

  .intro-content h3{
    font-size: 2.2em;
  }

  h1{
    font-size: 3em;
  }

  h3{
    font-size: 2.2em;
  }

}

@media screen and (max-width: 580px){
  .header-content{
    margin: 0 auto;
    display: block;
    float: none;
    margin-top: 10%;
    text-align: center;
    // left: -23%;
    position: relative;
    width: 100%;
    background-position: 0 100px;

    img{
      margin: 0 auto;
      width: 90px;
    }

    h1{
      font-size: 2.4em;
    }

    h2{
      font-size: 1.4em;

      &.alt{
        font-size: 1.3em;
      }
    }
  }

  header .inner{
    // left: 23%;
    background: none;
    min-height: 0 !important;
  }

  .intro-content{
    top: 0;
    margin-top: 0 ;
  }

  a.btn-flick{
    margin: 0 0 0 35px;
    width: 90%;
  }

  span.btn-flick{
    width: 50%;
    position: relative;
    left: 5%;
  }

}

@media screen and (max-width: 450px){

  span.btn-flick{
    width: 60%;
  }

  a.btn-flick{
    margin: 0 0 0 35px;
    width: 80%;
  }

  footer{
    height: 320px;
  }
}

@media screen and (max-width: 390px){
  span.btn-flick{
    width: 60%;
  }

  h2.alt{
    font-size: 1.4em;
  }
}